@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000000;

    --nike-red: #ba2b2b;
    --nike-green: #005147;
    --nike-orange: #ea553b;
    --nike-gray: #a9a6a6;
    --nike-light-green: #9dd44f;

    --button-hover-color: #9dd44f;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
